<form action="tweet/create" method="get">
<div>
  <label>Tweet</label>
  <input type="text" id="status" name="status"/>
</div>
<div>
  <input type="submit" id="new_tweet" value="New Tweet"/>
</div>
</form>
